<div class="mpd">
  <div class="jumbotron">
    <div id="flip-element">
      <h1>A tale of<strong> bad</strong> road safety</h1>
    </div>
    <div id="primary-content">  
      <iframe width="87%" height="600" src="https://www.youtube.com/embed/Zc9tLol2XOs?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="zoom-content">
      <h2>Learn more about<strong> being safe</strong> on the road !</h2>
    </div>
    <div id="lightspeed2">
      <p><a class="btn btn-lg btn-default fa fa-2x fa-info" href="#Learn-Road-Safety" role="button"></a><i class="fa fa-hand-o-left green">Click Me !</i></p>
    </div>
  </div>
  
  <a name="Learn-Road-Safety"></a>

  <div class="container containerStandard">      
    <div class="row beta-p">
      
    </div>                
  </div>
  
  <div class="container containerStandard">
    <div class="row">      
      <div class="col-md-4 columnItem">
        <img class="img-thumbnail" src="http://digniorasupplies.com/wp-content/uploads/2014/11/A10589-220x220.jpg">
        <h2>Safety signs</h2>
        <p class="beta-p">Most of the signs you will see on New Zealand roads are international symbolic signs. This means they use the same shapes and symbols as traffic signs all over the world.
        Symbolic signs are used because they are quick to read and easy for all to understand.</p>
      </div>

      <div class="col-md-4 columnItem">
        <img class="img-thumbnail" src="http://livenews.co.nz/wp-content/uploads/2013/07/Police-300x220.jpg">
        <h2>NZ Police - Road safety</h2>
        <p class="beta-p">Find answers to frequently asked road safety questions right here.  
          Link to <a href="http://www.police.govt.nz/faq/questions-by-category/driving-road-safety" style="text-decoration:none" target="_blank"><i>NZ Police FAQ - road safety</i></a>. 
          It's their job to keep us all safe on the road, and they are always more than willing to help you. </p>
      </div>

      <div class="col-md-4 columnItem">
        <img class="img-thumbnail" src="http://i01.i.aliimg.com/photo/v0/60132297977_1/road_safety_vest_traffic_safety_vest.jpg_220x220.jpg">
        <h2>Safety vests</h2>
        <p class="beta-p">Be seen - Be safe ! At night or in poor light conditions others on the road may not always be able to see you.. <strong>Think</strong> safety when you are on the road ! Be responsible and wear a reflective vest. BE SEEN - BE SAFE !</p>
      </div>
    </div>
  </div>
        
  <div class="container screenshot">   
    <div class="arrow-down"></div>
    <div class="col-md-5">
      <div class="screenBlurb">
        <hr>

        <h1 class="orange">Cyclist skills & rules to follow</h1>
        <h3 class="green">Cyclist skills training</h3>                    
        <p class="beta-p">Learning to ride a bicycle takes lots of practice so you should consider taking a course. Courses vary and cover a range of skills depending on who they are designed for. If you are interested in taking a course, contact your local council, bike club or bike shop to find a local training provider. </p>
        <p class="beta-p">The NZ Transport Agency <a href="http://www.nzta.govt.nz/resources/roadcode/cyclist-code/about-cycling/cyclist-skills-training.html" style="text-decoration:none" target="_blank"><i>(NZTA)</i></a> , Bike NZ and CAN have recently developed national guidelines for cyclist skills training.</p>
        <h3 class="green">Rules</h3>                                                  
        <p class="beta-p">Before cycling on the road you must know the road rules. They apply to cyclists as well as those using motor vehicles. The rules help to prevent crashes and reduce risk of injury.</p>
        <p class="beta-p">Always ride as near as you can to the left side of the road. If you are holding back traffic you must move as far as possible to the left side of the road to allow traffic to pass, as soon as you can. However, you do need to cycle in a sensible position on the road to keep safe.</p> 
        <p class="beta-p">Two cyclists can ride next to each other but should take into account the keep left rule and not hold back traffic. Three or more people cycling next to each other is illegal, except in the case of a road race that has been given traffic management approval from a road controlling authority.</p>
        <p class="beta-p">Use hand signals to show other road users what you are doing.</p>
        <p class="beta-p">You must obey all signs and signals.</p>
        <p class="beta-p"><strong>You can learn lots more safety rules for cycles at <a href="http://www.nzta.govt.nz/resources/roadcode/cyclist-code/about-cycling/rules.html" style="text-decoration:none" target="_blank"><i>(NZTA-rules-for-cycles).</i></a></strong></p>
        <hr>
      </div>
    </div>
    <div class="col-md-7 screen">
      <%= image_tag("bike.jpg", :size => '500x830', alt: "Cycling rules") %>
    </div>  
  </div>

  <div class="container containerStandard">
    <div class="row">
      <div class="col-md-12"><h2>Tips to remember when you ride your bike...</h2></div>
    </div>
    <div class="row">   
      <div class="col-md-4 columnItem"><h3><%= image_tag("helmet.png", :size => '45x45', alt: "helmet") %><BR>Helmet rule</h3>
        <p class="beta-p">Always wear a helmet that's the right size for you and fitted correctly !</p>
      </div>
      <div class="col-md-4 columnItem"><h3><%= image_tag("bright.png", :size => '45x45', alt: "wear bright clothes") %><BR>Be bright - be seen</h3>
        <p class="beta-p">Wear something bright or reflective to make sure everyone can see you coming !</p>
      </div>      
      <div class="col-md-4 columnItem"><h3><%= image_tag("route.png", :size => '45x45', alt: "pick a safe route") %><BR>Pick a safe route</h3>
        <p class="beta-p">Plan your cycle journey with your parents, and do your best to stick to cycle paths and quieter roads. If the road looks busy, get off your bike and walk.</p>
      </div>
    </div>
                    
    <div class="row">   
      <div class="col-md-4 columnItem"><h3><%= image_tag("lights.png", :size => '45x45', alt: "use your lights at night") %><BR>Bike lights</h3>
        <p class="beta-p">Fit your bike with reflectors and good strong lights if you're riding in the dark.</p>
      </div>
      <div class="col-md-4 columnItem"><h3><%= image_tag("park.png", :size => '45x45', alt: "be carefull parking your bike") %><BR>Parking your bike</h3>
        <p class="beta-p">Park your bike with thought for other people, use a cycle stand and lock it to something secure !</p>
      </div>
      <div class="col-md-4 columnItem"><h3><%= image_tag("animals.png", :size => '45x45', alt: "watch out for animals") %><BR>Be careful near animals</h3>
        <p class="beta-p">Give them plenty of room as you cycle past, and don't scare them with your bell !</p>
      </div>
    </div>          
  </div>
      
  <div class="container containerStandard platform">
    <div class="arrow-down"></div>
            
    <div class="row">
      <div class="col-sm-4 columnItem">
        <h3><i class="fa fa-5x fa-gamepad"></i></h3>
        <h3><a href="http://talesoftheroad.direct.gov.uk/stop-look-listen.php" style="text-decoration:none" target="_blank">Play Road Safety Game</a></h3>
      </div>
      <div class="col-sm-4 columnItem">
        <h3><i class="fa fa-5x fa-youtube"></i></h3>
        <h3><a href="https://www.youtube.com/watch?v=ddTlNEWFIxc" style="text-decoration:none" target="_blank">Watch Safety Video's</a></h3>
      </div>
      <div class="col-sm-4 columnItem">
        <h3><i class="fa fa-5x fa-lightbulb-o"></i></h3>
        <h3><a href="http://beta.nzta.govt.nz/safety/safety-for-children/road-safety-tips-to-teach-your-children-2/" style="text-decoration:none" target="_blank">More Road Tips to learn !</a></h3>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>This site has been created by <a href="https://twitter.com/lizziexox12" style="text-decoration:none" target="_blank">Elizabeth</a>  and <a href="https://twitter.com/WEBrip" style="text-decoration:none" target="_blank">Mike Rails</a>  founders and RoR dev's / designers of WEBrip Developments all rights not reserved ! LoL. Big thanks to my super awesome Daddy 1 for all the help. I hope you like it. Yay !</p>
  </div>
</div>
